/* Color Theme Swatches in Hex */
.Paleta-de-cores-detetive-cacau-1-hex {
    color: #3D2B1F;
}

.Paleta-de-cores-detetive-cacau-2-hex {
    color: #7B542F;
}

.Paleta-de-cores-detetive-cacau-3-hex {
    color: #B6771D;
}

.Paleta-de-cores-detetive-cacau-4-hex {
    color: #FF9D00;
}

.Paleta-de-cores-detetive-cacau-5-hex {
    color: #FFCF71;
}

.Paleta-de-cores-detetive-cacau-6-hex {
    color: #B58F59;
}

.Paleta-de-cores-detetive-cacau-7-hex {
    color: #e6bc47;
}

/* Color Theme Swatches in RGBA */
.Paleta-de-cores-detetive-cacau-1-rgba {
    color: rgba(61, 43, 31, 1);
}

.Paleta-de-cores-detetive-cacau-2-rgba {
    color: rgba(123, 84, 47, 1);
}

.Paleta-de-cores-detetive-cacau-3-rgba {
    color: rgba(182, 119, 29, 1);
}

.Paleta-de-cores-detetive-cacau-4-rgba {
    color: rgba(255, 157, 0, 1);
}

.Paleta-de-cores-detetive-cacau-5-rgba {
    color: rgba(255, 207, 113, 1);
}

.Paleta-de-cores-detetive-cacau-6-rgba {
    color: rgba(181, 143, 89, 1);
}

/* Color Theme Swatches in HSLA */
.Paleta-de-cores-detetive-cacau-1-hsla {
    color: hsla(24, 32, 18, 1);
}

.Paleta-de-cores-detetive-cacau-2-hsla {
    color: hsla(29, 44, 33, 1);
}

.Paleta-de-cores-detetive-cacau-3-hsla {
    color: hsla(35, 72, 41, 1);
}

.Paleta-de-cores-detetive-cacau-4-hsla {
    color: hsla(36, 100, 50, 1);
}

.Paleta-de-cores-detetive-cacau-5-hsla {
    color: hsla(39, 100, 72, 1);
}

.Paleta-de-cores-detetive-cacau-6-hsla {
    color: hsla(35, 38, 52, 1);
}